<div class="theme-product-grid">
  <div class="page-width">
    {% if section.settings.title != blank %}
    <div class="title-wrap">
      <h2 class="title-md">{{ section.settings.title }}</h2>
    </div>
    {% endif %}

    <div class="product-grid-wrap">
      {% for block in section.blocks %}
        <div class="product-grid-item" style="--posX: {{ block.settings.posX }}%; --posY: {{ block.settings.posY }}%;">
          <div class="product-block">
            <div class="product-img-wrap">
              {% assign product_block = block.settings.product %}
              <img
                srcset="
                  {%- if product_block.featured_media.width >= 165 -%}{{ product_block.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product_block.featured_media.width >= 360 -%}{{ product_block.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product_block.featured_media.width >= 533 -%}{{ product_block.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product_block.featured_media.width >= 720 -%}{{ product_block.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product_block.featured_media.width >= 940 -%}{{ product_block.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product_block.featured_media.width >= 1066 -%}{{ product_block.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product_block.featured_media | image_url }} {{ product_block.featured_media.width }}w
                "
                src="{{ product_block.featured_media | image_url: width: 533 }}"
                sizes="(min-width: 1400px) {{ 1400 | minus: 100 | divided_by: 3 }}px, (min-width: 990px) calc((100vw - 100px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product_block.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ product_block.featured_media.width }}"
                height="{{ product_block.featured_media.height }}"
              >
            </div>
            <div class="overlay-layer">
              <button class="mini-quick-add" data-quickadd-modal="{{ section.id }}-{{ block.id }}-{{ product_block.id }}-modal">{% render 'add-icon' %}</button>
            </div>
          </div>
          <div class="theme-quickadd-modal modal" id="{{ section.id }}-{{ block.id }}-{{ product_block.id }}-modal">
            <div class="modal-dialog">
              <div class="modal-body">
                <button class="close-btn">{% render 'close-icon' %}</button>
                <div class="product-info-wrap">
                  <div class="product-info">
                    <div class="img-wrap">
                      {{ product_block.featured_media | image_url: width: 120, height: 140 | image_tag }}
                    </div>
                    <div class="info">
                      <h3>{{ product_block.title }}</h3>
                      <div class="price money">
                        {{ product_block.price | money_with_currency }}
                      </div>
                      <div class="short-desc">
                        {{ product_block.description | strip_html | truncatewords: 15 }}
                      </div>
                    </div>
                  </div>
                  <div class="product-quickadd-options">
                    <form id="theme-cart-add" method="POST" action="/custom/cart/add">
                      <input type="hidden" name="id" value="{{ product_block.selected_or_first_variant.id }}" />
                      {% for option in product_block.options_with_values  %}
                        <div class="option-name">{{ option.name }}</div>
                        <div class="{% if option.values.size > 2 %} select-group{% else %} select{% endif %}">
                        {% for value in option.values %}
                          <input type="radio" name="{{ option.name }}" value="{{ value }}" class="option" />
                          <label>{{ value }}</label>
                        {% endfor %}
                        </div>
                      {% endfor %}
                      <div class="btn-wrap">
                        <button type="submit" class="btn btn-theme-dark btn-arrow">Add to cart {% render 'button-arrow' %}</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>

<script>
  let addToCartForm = document.querySelectorAll("[action='/custom/cart/add']");
  // console.log(addToCartForm);
  addToCartForm.forEach((formItem)=>{
    let formData = new FormData(formItem);
    formItem.addEventListener('submit', (e)=>{
      e.preventDefault();
      fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        body: formData
      })
      .then(response => {
        // alert('Product Added in Cart');
        return response.json();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    })
  })
</script>

{% schema %}
  {
    "name": "Theme Product Grid",
    "tag": "section",
    "class": "theme-product-grid-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Tisso vison in the wild"
      }
    ],
    "blocks": [
      {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select product"
          },
          {
            "type": "header",
            "content": "Button position"
          },
          {
            "type": "range",
            "label": "Position X.",
            "default": 50,
            "id": "posX",
            "unit": "%",
            "max": 100,
            "min": 0,
            "step": 5
          },
          {
            "type": "range",
            "label": "Position Y.",
            "default": 50,
            "id": "posY",
            "unit": "%",
            "max": 100,
            "min": 0,
            "step": 5
          }
        ]
      },
    ],
    "presets": [
      {
        "name": "Theme Product Grid",
        "blocks": []
      }
    ]
  }
{% endschema %}