<div class="theme-banner">
  <div class="bg-layer">
    {% if section.settings.image != blank %}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: section.settings.image.height,
          class: "object-fit-cover",
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          fetchpriority: "high"
      }}
    {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
  <div class="theme-banner-content">
    <div class="page-width">
      <div class="text-container">
        <div class="title-wrap">
          <h1 class="title-lg">{{ section.settings.title }}</h1>
        </div>
        <div class="text-wrap">
          <div class="rte editor">
            {{ section.settings.description }}
          </div>
        </div>
        <div class="btn-wrap">
          <a class="btn btn-theme-dark btn-arrow" href="{{ section.settings.button_link }}">{{ section.settings.button_text }} {% render 'button-arrow' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Theme Banner",
    "tag": "section",
    "class": "theme-banner-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner Image",
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "The Gift Guide",
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>",
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button label"
      }
    ],
    "presets": [
      {
        "name": "Theme Banner"
      }
    ]
  }
{% endschema %}